# Project-specific directories
build/

# Python cache and compiled files
*__pycache__/

# Distribution / packaging
*.egg-info/

# Temporary files
*.tmp
.vscode/

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/ 